---
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import Layout from '../../layouts/MainLayout.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Layout>
  <Header slot="header" />

  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>

  <Footer slot="footer" />
</Layout>
