---
import { CollectionEntry, getCollection } from 'astro:content'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

export async function getStaticPaths() {
  const allPosts = await getCollection('blog')
  const tags: string[] = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ]

  return tags.map((tag) => {
    const filteredPostByTag = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    )

    return {
      params: { tag },
      props: { posts: filteredPostByTag },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<h1>{tag}</h1>
<ul>
  {
    posts
      .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
      .map((post) => <li>{post.data.title}</li>)
  }
</ul>
