---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/BlogPost.astro'

const allPosts = await getCollection('blog')
const tags: string[] = [
  ...new Set(allPosts.map((post) => post.data.tags).flat()),
]
---

<Layout
  title="Tagovi"
  description="Tagovi ili kategorije članaka. Zbog bržeg pronalaženja sadržaja svi članci su označeni tagovima."
  pubDate={new Date('2023-5-25')}
  updatedDate={new Date('2023-5-25')}
  heroImage="/placeholder-about.jpg"
  tags={[]}
>
  <p>
    Svi tekstovi su označeni tagovima radi lakšeg pronalaženja traženog
    sadržaja.
  </p>
  <p>Tagovi:</p>
  <ul class="flex gap-2">
    {
      tags
        .sort((a, b) => a.localeCompare(b))
        .map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
    }
  </ul>
</Layout>
