---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/MainLayout.astro'

const allPosts = await getCollection('blog')
const tags: string[] = [
  ...new Set(allPosts.map((post) => post.data.tags).flat()),
]
---

<Layout
  title="Tagovi"
  description="Radi lakšeg pronalska sadržaja tekstovi su označeni tagovima."
>
  <div class="my-16 mx-auto prose">
    <h1>Oznake tekstova ili tagovi</h1>
    <p class="lead">
      Svi tekstovi su označeni tagovima radi lakšeg pronalaženja sadržaja.
      Kliknite na tag da bi vidjeli tekstove koji su označeni tim tagom.
      Tekstovi su označeni narednim tagovima:
    </p>
    <ul class="flex gap-2 justify-center list-none m-0 p-0 mt-8">
      {
        tags
          .sort((a, b) => a.localeCompare(b))
          .map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>
                <span class="badge badge-secondary badge-lg">{tag}</span>
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</Layout>
