---
import Layout from '../layouts/MainLayout.astro'
---

<Layout>
  <header slot="beforeMain" class="px-4 container mx-auto">
    <div class="flex flex-col gap-8 sm:flex-row sm:items-center md:gap-16">
      <div class="prose">
        <h1>Programiranje internet stranica</h1>
        <p class="lead">
          Dobro došli na stranicu gdje možete naučiti praviti internet stranice.
          Ova stranica namjenjena je početnicima, osoboma koje prave preve
          korake u svijetu programiranja.
        </p>
      </div>
      <div class="min-w-[300px]">
        <picture>
          <source srcset="/placeholder-social.jpg" media="(min-width: 600px)" />
          <img src="/placeholder-hero.jpg" alt="MDN" />
        </picture>
      </div>
    </div>
  </header>

  <section class="prose mx-auto">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, officiis
      rem laboriosam ab quis praesentium debitis, ad quam ullam facilis illo
      delectus excepturi consequuntur ducimus, facere placeat. Obcaecati
      voluptates nesciunt molestiae illum, quidem modi non? Cum, eligendi non!
      Dignissimos, maxime nam quisquam delectus, esse necessitatibus facilis,
      provident excepturi ratione in unde sunt aliquam dolorum nisi.
    </p>
  </section>
</Layout>
