---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/MainLayout.astro'
import FormattedDate from '../../components/FormattedDate.astro'

const news = (await getCollection('news')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout
  title="Vijesti"
  description="Vijesti vezena za web tehnologije kao što su HTML, CSS i javaScript programski jezik."
>
  <div class="mx-auto my-16 prose">
    <h1>Vijesti 📢</h1>

    <ul>
      {
        news.map((post) => (
          <li class="text-lg">
            <FormattedDate date={post.data.pubDate} />
            <a href={`/vijesti/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
