---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/MainLayout.astro'

const news = (await getCollection('news')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<Layout>
  <h1>Vijesti</h1>

  <ul>
    {
      news.map((post) => (
        <li>
          <a href={`/vijesti/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
